
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body class="bg-light">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-5">
		<h1>Profile Details</h1>
		<table class="table table-bordered mt-3">
			<tbody>
				<tr>
					<th>Name</th>
					<td>[[${user.name}]]</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>[[${user.email}]]</td>
				</tr>
				<tr>
					<th>Aadhar</th>
					<td>[[${user.aadharNumber}]]</td>
				</tr>
				<tr>
					<th>Contact</th>
					<td>[[${user.contactNumber}]]</td>
				</tr>
			</tbody>
		</table>
		<a href="/logout" class="btn btn-danger mt-3">Logout</a> <a
			href="/stocks/new" class="btn btn-primary mt-3">Buy Stock</a>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pzjw/JcjK5PTz1uiTGowkZ5pMvl4jGKcgmjG4e9e1P9VW1qZr4wwq4L+UaSWjRDy"
		crossorigin="anonymous"></script>
</body>
</html>
